/* Giftastic Farm Animals CSS */


body {
    background-color: #f8c044;
}

.jumbotron {
    background-color: #6ca617;
}

h1 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 80px;
    text-align: center;
    padding-top: 50px;
    color: white;
}

h2 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 50px;
    text-align: center;
    color: white;
}

h3 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 30px;
    text-align: center;
    color: white;
}

.card {
    padding: 10px;
    margin: 20px;
    background-color: #6ca617;
}

.search {
    margin-top: 10px;
    margin-bottom: 10px;
}

button,
#add-animal {
    background-color: #990000;
    color: white;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 30px;
    
}

#buttonfix {
    padding-left: 45px;
}

#animalDiv,
#profilePetDiv {
    background-color: #f8c044;
    color: white;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 25px;

}

a {
    color: #990000;
}

#pet {
    height: 100px;
    width: 100px;
    align-self: center;
}

.petfinderHere,
.petDescription {
    text-align: center;
}